<nav class="sticky-top navbar-light" style="background-color: #0A3344;">
    <div class="container scrollmenu">
        <a href="{{ path('homepage') }}"><img class="logo-nav" src="{{ asset('images/ctaelsalvador-logo.png') }}" alt="ctaelsalvador-logo"></a>
        <a class="nav-link" href="{{ path('homepage') }}">Inicio<span class="sr-only">(current)</span></a>
        <a class="nav-link" href="{{ path('modelo') }}">Modelo</a>
        <a class="nav-link" href="{{ path('equipo_terapeutico') }}">Equipo</a>
        <a class="nav-link" href="{{ path('testimonios') }}">Testimonios</a>
        <a class="nav-link" href="{{ path('galeria') }}">Galería</a>
        <a class="nav-link" href="{{ path('como_llegar') }}">¿Cómo llegar?</a>
    </div>
</nav>