{% extends 'layout.html.twig' %}
{% block title %}CTA El Salvador | Inicio{% endblock %}
{% block contenido %}
{% block navbar %}
{{ include('web/navbar.html.twig') }}
{% endblock %}
{# Header #}
<header>
    <div class="visible-lg">
        <img class="img-responsive" src="{{ asset('resources/ctaelsalvador/assets/images/header/cta-header-lg.jpg') }}">
    </div>
    <div class="visible-xs">
        <img class="img-responsive" src="{{ asset('resources/ctaelsalvador/assets/images/header/cta-header-sm.jpg') }}">
    </div>
    <div class="visible-sm visible-md">
        <img class="img-responsive" src="{{ asset('resources/ctaelsalvador/assets/images/header/cta-header-md.jpg') }}">
    </div>
</header>
{# /Header #}
<section class="section-cta color-gray">
    <div class="container">
        <h1 class="padding-bottom-1 col-lg-12">Actividades Complementarias</h1>
        <ol class="color-text-gray">
            <li>Cine Fórums</li>
            <li>Talleres Psicoterapéuticos para Pacientes</li>
            <li>Talleres Psicoterapéuticos para Familiares</li>
            <li>Paseos culturales, deportivos y recreativos</li>
        </ol>
    </div>
</section>




{% block footer %}
{{ include('web/footer.html.twig') }}
{% endblock %}
{% endblock %} 
