{% extends 'layout.html.twig' %}
{% block title %}CTA El Salvador | Inicio{% endblock %}
{% block contenido %}
{% block navbar %}
{{ include('web/navbar.html.twig') }}
{% endblock %}
{# Header #}
<header>
    <div class="visible-lg">
        <img class="img-responsive" src="{{ asset('resources/ctaelsalvador/assets/images/header/cta-header-lg.jpg') }}">
    </div>
    <div class="visible-xs">
        <img class="img-responsive" src="{{ asset('resources/ctaelsalvador/assets/images/header/cta-header-sm.jpg') }}">
    </div>
    <div class="visible-sm visible-md">
        <img class="img-responsive" src="{{ asset('resources/ctaelsalvador/assets/images/header/cta-header-md.jpg') }}">
    </div>
</header>
{# /Header #}
<section class="section-cta color-gray">
    <div class="container">
        <h1 class="padding-bottom-1 col-lg-12">Grupo de Familiares</h1>
        <div class="col-lg-12">
            <p class="color-text-gray">Es un espacio en donde se encuentran miembros de diferente familia con un mismo problema en común, la adicción y el consumo de drogas de algún familiar. Los familiares comparten experiencias y son orientados para mejorar su forma de comunicación y manejo de las situaciones críticas, desarrollando habilidades efectivas de afrontamiento.</p>
        </div>
    </div>
</section>




{% block footer %}
{{ include('web/footer.html.twig') }}
{% endblock %}
{% endblock %} 