{% extends 'layout.html.twig' %}
{% block title %}CTA El Salvador | Inicio{% endblock %}
{% block contenido %}
{% block navbar %}
{{ include('web/navbar.html.twig') }}
{% endblock %}
{# Header #}
<header>
    <div class="visible-lg">
        <img class="img-responsive" src="{{ asset('resources/ctaelsalvador/assets/images/header/cta-header-lg.jpg') }}">
    </div>
    <div class="visible-xs">
        <img class="img-responsive" src="{{ asset('resources/ctaelsalvador/assets/images/header/cta-header-sm.jpg') }}">
    </div>
    <div class="visible-sm visible-md">
        <img class="img-responsive" src="{{ asset('resources/ctaelsalvador/assets/images/header/cta-header-md.jpg') }}">
    </div>
</header>
{# /Header #}
<section class="section-cta color-gray">
    <div class="container">
        <h1 class="padding-bottom-1">Terapia Familiar</h1>
        <div>
            <p class="color-text-gray">A través de esta consejería se proporciona orientación y asesoría a los familiares de los pacientes, facilitándoles herramientas que les lleven a establecer medidas prácticas y efectivas en la comunicación y el manejo de situaciones con el familiar afectado.</p>
        </div>
    </div>
</section>

{% block footer %}
{{ include('web/footer.html.twig') }}
{% endblock %}
{% endblock %} 