{% extends 'layout.html.twig' %}
{% block title %}CTA El Salvador | Equipo Terapeútico{% endblock %}
{% block contenido %}
{% block banner %}
{{ include('banner.html.twig') }}
{% block bcontent %}
<div class="banner">
    <div class="container text-center">
        <img class="team" src="{{ ('images/banner/team/team.png') }}" alt="Equipo de tratamiento CTA El Salvador"/>
    </div>
</div>
{% endblock %}
{% endblock %}
{% block navbar %}
{{ include('navbar.html.twig') }}
{% endblock %}
<section>
    <div class="container">
        <h1>Nuestro Staff</h1>
        <div>
            El equipo del CTA está conformado por profesionales especializados que cuentan con experiencia en el diagnóstico y el tratamiento de adicciones certificadas que requieren este tipo de programas. El trabajo multidisciplinario es fundamental para tener una visión amplia del padecimiento del paciente y brindar una atención integral a aquellos que necesitan de los servicios. Trabajamos en conjunto con terapeutas, psicólogo, teólogo, psiquiatra y voluntarios.
        </div>
    </div>
</section>
<section>
 <div class="container">
    <div class="card-columns">
        {% for empleados in empleado %}
            <div class="card">
                <img class="card-img-top img-fluid" src="{{ ('images/team/'~empleados.urlImage) }}" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{empleados.firstName}} {{empleados.lastName}}</h4>
                    <h5 class="card-subtitle">{{empleados.position}}</h5>
                    <div class="card-icon"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                    <div class="card-icon-text">Función:</div> 
                    <div class="card-text">{{empleados.function}}</div>
                    <div class="card-icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></div> 
                    <div class="card-icon-text">Experiencia:</div> 
                    <div class="card-text">{{empleados.experience}} años</div> 
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</section>
{% endblock %}    
