{% extends 'layout.html.twig' %}
{% block title %}CTA El Salvador | Equipo Terapeútico{% endblock %}
{% block contenido %}
{% block banner %}
{{ include('banner.html.twig') }}
{% block bcontent %}
<div class="banner team">
    <div class="container text-center">
        <img src="{{ ('images/banner/team/team.png') }}" />
    </div>
</div>
{% endblock %}
{% endblock %}
{% block navbar %}
{{ include('navbar.html.twig') }}
{% endblock %}
<section>
 <div class="container">
    <div class="card-columns">
        {% for empleados in empleado %}
            <div class="card">
                <img class="card-img-top" src="{{ ('images/team/'~empleados.urlImage) }}" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{empleados.firstName}} {{empleados.lastName}}</h4>
                    <h5 class="card-subtitle">{{empleados.position}}</h5>
                    <div class="card-icon"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                    <div class="card-icon-text">Función:</div> 
                    <div class="card-text">{{empleados.function}}</div>
                    <div class="card-icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></div> 
                    <div class="card-icon-text">Experiencia:</div> 
                    <div class="card-text">{{empleados.experience}} años</div> 
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</section>
{% endblock %}    
