{% extends 'layout.html.twig' %}
{% block title %}CTA El Salvador | Galería{% endblock %}
{% block contenido %}
{% block banner %}
{{ include('banner.html.twig') }}
{% block bcontent %}
<div class="banner">
    <div class="container text-center">
        <img class="gallery" src="{{ ('images/banner/galeria/galeria.png') }}" />
    </div>
</div>
{% endblock %}
{% endblock %}
{% block navbar %}
{{ include('navbar.html.twig') }}
{% endblock %}
<section>
    <div class="container">
        <h1>Actividades Externas</h1>
        <h4>Congreso NA Honduras</h4>
        <div class="row">
            {% for fotografias in fotografia if fotografias.nameActivity=='Congreso NA Honduras' %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img class="img-fluid img-gallery" src="{{ asset('images/gallery/'~fotografias.urlImage) }}" alt="{{ fotografias.altImage }}"/>
                </div>
            {% endfor %}
        </div>
        <h4>Convivios Playa</h4>
        <div class="row">
            {% for fotografias in fotografia if fotografias.nameActivity=='Convivios Playa' %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img class="img-fluid img-gallery" src="{{ asset('images/gallery/'~fotografias.urlImage) }}" alt="{{ fotografias.altImage }}"/>
                </div>
            {% endfor %}
        </div>
        <h4>Feria de Salud UES</h4>
        <div class="row">
            {% for fotografias in fotografia if fotografias.nameActivity=='Feria de Salud UES' %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img class="img-fluid img-gallery" src="{{ asset('images/gallery/'~fotografias.urlImage) }}" alt="{{ fotografias.altImage }}"/>
                </div>
            {% endfor %}
        </div>
        <h4>Participación Congreso del ISSS</h4>
        <div class="row">
            {% for fotografias in fotografia if fotografias.nameActivity=='Participación Congreso del ISSS' %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img class="img-fluid img-gallery" src="{{ asset('images/gallery/'~fotografias.urlImage) }}" alt="{{ fotografias.altImage }}"/>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h1>Comunicaciones</h1>
        <h4>Entrevistas</h4>
        <div class="row">
            {% for fotografias in fotografia if fotografias.nameActivity=='Entrevistas' %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img class="img-fluid img-gallery" src="{{ asset('images/gallery/'~fotografias.urlImage) }}" alt="{{ fotografias.altImage }}"/>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h1>Eventos</h1>
        <h4>Inauguración CTA El Salvador</h4>
        <div class="row">
            {% for fotografias in fotografia if fotografias.nameActivity=='Inauguración CTA El Salvador' %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img class="img-fluid img-gallery" src="{{ asset('images/gallery/'~fotografias.urlImage) }}" alt="{{ fotografias.altImage }}"/>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h1>Formación de Terapeutas</h1>
        <h4>Conferencia Mundial de Comunidades Terapéuticas</h4>
        <div class="row">
            {% for fotografias in fotografia if fotografias.nameActivity=='Conferencia Mundial de Comunidades Terapéuticas' %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img class="img-fluid img-gallery" src="{{ asset('images/gallery/'~fotografias.urlImage) }}" alt="{{ fotografias.altImage }}"/>
                </div>
            {% endfor %}
        </div>
        <h4>Consejería Terapéutica en Drogodependencia</h4>
        <div class="row">
            {% for fotografias in fotografia if fotografias.nameActivity=='Consejería Terapéutica en Drogodependencia' %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img class="img-fluid img-gallery" src="{{ asset('images/gallery/'~fotografias.urlImage) }}" alt="{{ fotografias.altImage }}"/>
                </div>
            {% endfor %}
        </div>
        <h4>Consejería Terapéutica Nivel 1</h4>
        <div class="row">
            {% for fotografias in fotografia if fotografias.nameActivity=='Consejería Terapéutica Nivel 1' %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img class="img-fluid img-gallery" src="{{ asset('images/gallery/'~fotografias.urlImage) }}" alt="{{ fotografias.altImage }}"/>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h1>Prevención</h1>
        <h4>Campeche México</h4>
        <div class="row">
            {% for fotografias in fotografia if fotografias.nameActivity=='Campeche México' %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img class="img-fluid img-gallery" src="{{ asset('images/gallery/'~fotografias.urlImage) }}" alt="{{ fotografias.altImage }}"/>
                </div>
            {% endfor %}
        </div>
        <h4>Centros Educativos</h4>
        <div class="row">
            {% for fotografias in fotografia if fotografias.nameActivity=='Centros Educativos' %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img class="img-fluid img-gallery" src="{{ asset('images/gallery/'~fotografias.urlImage) }}" alt="{{ fotografias.altImage }}"/>
                </div>
            {% endfor %}
        </div>
        <h4>Escuela Nuestras Sra de las Gracias Onuva Fundación Forja</h4>
        <div class="row">
            {% for fotografias in fotografia if fotografias.nameActivity=='Escuela Nuestras Sra de las Gracias Onuva Fundación Forja' %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img class="img-fluid img-gallery" src="{{ asset('images/gallery/'~fotografias.urlImage) }}" alt="{{ fotografias.altImage }}"/>
                </div>
            {% endfor %}
        </div>
        <h4>Fundación Azteca Gira Vive Sin Drogas</h4>
        <div class="row">
            {% for fotografias in fotografia if fotografias.nameActivity=='Fundación Azteca Gira Vive Sin Drogas' %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img class="img-fluid img-gallery" src="{{ asset('images/gallery/'~fotografias.urlImage) }}" alt="{{ fotografias.altImage }}"/>
                </div>
            {% endfor %}
        </div>
        <h4>Universidad Tecnológica</h4>
        <div class="row">
            {% for fotografias in fotografia if fotografias.nameActivity=='Universidad Tecnológica' %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img class="img-fluid img-gallery" src="{{ asset('images/gallery/'~fotografias.urlImage) }}" alt="{{ fotografias.altImage }}"/>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h1>Responsabilidad Social</h1>
        <h4>Centro Escolar Carlos Cruz</h4>
        <div class="row">
            {% for fotografias in fotografia if fotografias.nameActivity=='Centro Escolar Carlos Cruz' %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img class="img-fluid img-gallery" src="{{ asset('images/gallery/'~fotografias.urlImage) }}" alt="{{ fotografias.altImage }}"/>
                </div>
            {% endfor %}
        </div>
        <h4>Fenadesal Sur</h4>
        <div class="row">
            {% for fotografias in fotografia if fotografias.nameActivity=='Fenadesal Sur' %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img class="img-fluid img-gallery" src="{{ asset('images/gallery/'~fotografias.urlImage) }}" alt="{{ fotografias.altImage }}"/>
                </div>
            {% endfor %}
        </div>
        <h4>Hogar de Menores Mejicanos</h4>
        <div class="row">
            {% for fotografias in fotografia if fotografias.nameActivity=='Hogar de Menores Mejicanos' %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img class="img-fluid img-gallery" src="{{ asset('images/gallery/'~fotografias.urlImage) }}" alt="{{ fotografias.altImage }}"/>
                </div>
            {% endfor %}
        </div>
        <h4>Mercado Central</h4>
        <div class="row">
            {% for fotografias in fotografia if fotografias.nameActivity=='Mercado Central' %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img class="img-fluid img-gallery" src="{{ asset('images/gallery/'~fotografias.urlImage) }}" alt="{{ fotografias.altImage }}"/>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
</div>
{% endblock %}