{% extends 'layout.html.twig' %}
{% block title %}CTA El Salvador | Galería{% endblock %}
{% block contenido %}
{% block banner %}
{{ include('banner.html.twig') }}
{% block bcontent %}
<div class="banner gallery">
    <div class="container text-center">
        <img style="width: 500px; height: auto" src="{{ ('images/banner/galeria/galeria.png') }}" />
    </div>
</div>
{% endblock %}
{% endblock %}
{% block navbar %}
{{ include('navbar.html.twig') }}
{% endblock %}
<div class="container">
    <section>
        <h1>Actividades Externas</h1>
        <div class="row">
            {% for fotografias in fotografia if fotografias.type=='Actividades Externas' %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img class="img-fluid img-gallery" src="{{ asset('images/gallery/'~fotografias.urlImage) }}" alt="{{ fotografias.altImage }}"/>
                </div>
            {% endfor %}
        </div>
    </section>
    <section>
        <h1>Comunicaciones</h1>
        <div class="row">
            {% for fotografias in fotografia if fotografias.type=='Comunicaciones' %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img class="img-fluid img-gallery" src="{{ asset('images/gallery/'~fotografias.urlImage) }}" alt="{{ fotografias.altImage }}"/>
                </div>
            {% endfor %}
        </div>
    </section>
    <section>
        <h1>Eventos</h1>
        <div class="row">
            {% for fotografias in fotografia if fotografias.type=='Eventos' %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img class="img-fluid img-gallery" src="{{ asset('images/gallery/'~fotografias.urlImage) }}" alt="{{ fotografias.altImage }}"/>
                </div>
            {% endfor %}
        </div>
    </section>
    <section>
        <h1>Formación de Terapeutas</h1>
        <div class="row">
            {% for fotografias in fotografia if fotografias.type=='Formación de Terapeutas' %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img class="img-fluid img-gallery" src="{{ asset('images/gallery/'~fotografias.urlImage) }}" alt="{{ fotografias.altImage }}"/>
                </div>
            {% endfor %}
        </div>
    </section>
    <section>
        <h1>Prevención</h1>
        <div class="row">
            {% for fotografias in fotografia if fotografias.type=='Prevención' %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img class="img-fluid img-gallery" src="{{ asset('images/gallery/'~fotografias.urlImage) }}" alt="{{ fotografias.altImage }}"/>
                </div>
            {% endfor %}
        </div>
    </section>
    <section>
        <h1>Responsabilidad Social</h1>
        <div class="row">
            {% for fotografias in fotografia if fotografias.type=='Responsabilidad Social' %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img class="img-fluid img-gallery" src="{{ asset('images/gallery/'~fotografias.urlImage) }}" alt="{{ fotografias.altImage }}"/>
                </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}