{% extends 'layout.html.twig' %}
{% block title %}CTA El Salvador | Inicio{% endblock %}
{% block contenido %}
{% block banner %}
{{ include('banner.html.twig') }}
{% block bcontent %}
<div class="banner">
    <div class="container">
        <div class="row">
            <img class="banner-it img-fluid" src="{{ ('images/banner/index/hand-top.png') }}" />
        </div>
        <div class="row">
            <img class="banner-ib img-fluid" src="{{ ('images/banner/index/hands-bottom.png') }}" />
        </div>
    </div>
</div>
{% endblock %}
{% endblock %}
{% block navbar %}
{{ include('navbar.html.twig') }}
{% endblock %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>¿Quiénes somos?</h1>
                <div>
                    <p>Somos una institución especializada en brindar una salida a las personas que tienen problemas con el abuso de sustancias y dar apoyo a sus familiares. En el Centro Terapéutico de Adicciones (CTA) desarrollamos programas ambulatorios simultáneos (paciente-familia) donde se brindan las herramientas necesarias para lograr que los pacientes retomen una vida equilibrada, racional y consciente, superando sus adicciones o codependencias.</p>
                    <p> El centro está hecho para que a él acudan los pacientes, pero también sus familiares, nuestros expertos ayudan a canalizar sus emociones a través de programas acorde a las necesidades de cada uno. La finalidad de estos programas es reconstruir sus vidas, respetando la confianza entre los involucrados y trabajando con total confidencialidad, excelencia y calidad en la atención integral e individual para las personas.</p>
                </div>
            </div>
            {#
            <div class="col-lg-4">
                <img src="#" />
            </div>
            #}
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h1>Misión</h1>
                <p>Acompañar a las personas afectadas por la adicción, codependencia y afines para que sean personas integrales y encuentren su sentido de vida.</p>
            </div>
            <div class="col-lg-6 col-md-6">
                <h1>Visión</h1>
                <p>Ser reconocidos a nivel nacional e internacional como institución especializada, modelo referente y de alto rendimiento, con la calidad humana y profesional de brindar una respuesta cálida y afectuosa a nuestros usuarios.</p>
            </div>
        </div>
    </div>
</section>   
{# /Misión y Visión | PC #}
{# Valores Institucionales | PC #}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Valores Institucionales</h1>
            </div>
            <div class="col-lg-3 col-md-6 block-valores">
                <div class="icon-valores"><i class="fa fa-heart" aria-hidden="true"></i></div>
                <h3>Amor</h3>
                <p>Lo buscamos, lo encontramos y luchamos por construirlo cada día.</p>
            </div>
            <div class="col-lg-3 col-md-6 block-valores">
                <div class="icon-valores"><i class="fa fa-commenting-o" aria-hidden="true"></i></div>
                <h3>Confidencialidad</h3>
                <p>Garantizamos el resguardo de la información documental y personal del paciente o usuario y el de su núcleo familiar.</p>
            </div>
            <div class="col-lg-3 col-md-6 block-valores">
                <div class="icon-valores"><i class="fa fa-life-ring" aria-hidden="true"></i></div>
                <h3>Opción por la Vida</h3>
                <p>Es una invitación a transformar las tendencias destructivas de la subcultura de drogodependencia en un encuentro constructivo y creativo consigo mismo y con el otro.</p>
            </div>
            <div class="col-lg-3 col-md-6 block-valores">
                <div class="icon-valores"><i class="fa fa-hand-paper-o" aria-hidden="true"></i></div>
                <h3>Respeto</h3>
                <p>Cada persona es un ser diferente y tiene necesidades distintas. El respeto se refleja en el reconocimiento de las diferencias y atención de necesidades y derechos.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>¿Por qué nosotros?</h1>
            </div>
            <div class="row">
                <ol>
                    <li>Institución acreditada y reconocida por Organismos Nacionales e Internacionales.</li>
                    <li>Somos supervisados por el Consejo Superior de Salud Pública de El Salvador.</li>
                    <li>Todo nuestro personal técnico y profesional se encuentra debidamente certificado y acreditado para el abordaje de las distintas problemáticas en nuestro nivel de atención.</li>
                    <li>Instalaciones adecuadas para el desarrollo de todos nuestros programas y herramientas terapéuticas.</li>
                    <li>Acumulamos más de 30 años de experiencia en el área terapéutica del abordaje a dependencias y problemas psicosociales.</li>
                    <li>Porque nuestros usuarios y pacientes hablan por nosotros.</li>
                </ol>
            </div>    
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>¿Quiénes han confiado en nosotros?</h1>
                <div class="row">
                    {% for logo in logoInstitution if logo.type=='Cliente' %}
                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                            <img class="img-fluid img-thumbnail" src="{{ asset('images/clients/'~logo.urlImage) }}" alt="{{ logo.altImage }}"/>
                            <div class="logo-title">{{ logo.name }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Formaciones y Certificaciones</h1>
                <div class="row">
                    {% for logo in logoInstitution if logo.type=='Certificacion' %}
                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                            <img class="img-fluid img-thumbnail" src="{{ asset('images/clients/'~logo.urlImage) }}" alt="{{ logo.altImage }}"/>
                            <div class="logo-title">{{ logo.name }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
</section> 
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Reconocimientos</h1>
                <div class="row">
                    {% for logo in logoInstitution if logo.type=='Reconocimiento' %}
                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                            <img class="img-fluid img-thumbnail" src="{{ asset('images/clients/'~logo.urlImage) }}" alt="{{ logo.altImage }}"/>
                            <div class="logo-title">{{ logo.name }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
</section>   
{% endblock %}    
