{% extends 'layout.html.twig' %}
{% block title %}CTA El Salvador | Testimonios{% endblock %}
{% block contenido %}
{% block banner %}
{{ include('banner.html.twig') }}
{% block bcontent %}
<div class="banner">
    <div class="container text-center">
        <img class="testimonio" src="{{ ('images/banner/testimonio/testimonio.png') }}" alt="Testimonios de pacientes"/>
    </div>
</div>
{% endblock %}
{% endblock %}
{% block navbar %}
{{ include('navbar.html.twig') }}
{% endblock %}
{% for testimonios in testimonio %}
    <section>
        <div class="container">
            <div class="row">
            <div class="col-lg-12">
                <div class="testimonial-title">
                    <h3>Nombre: </h3>
                    <span>{{testimonios.name}}</span>
                </div>
                <div class="testimonial-title">
                    <h3>Tipo de Testimonio: </h3>
                    <span>{{testimonios.type}}</span>
                </div>
                <div class="testimonial-content">
                    {{testimonios.testimonial|raw}}
                </div>
            </div>
                </div>
    </section> 
{% endfor %}
{% endblock %}